[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
pandas = "*"
numpy = "*"
shapely = "*"
geoplot = "*"
folium = "*"
matplotlib = "*"
pyproj = "*"
gpxpy = "*"
jupyterlab = "*"
python-dateutil = "*"
pytz = "*"
exif = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
